{% load static %}
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <h2 class="section-title">Our Projects</h2>
                    <div class="brand-list">
                        <div class="colum">
                            <a href="#">
                                <div class="project-one">
                                    <h3>PROVISION AND INSTALLATION OF 20KVA INVERTER FOR LABORATORY SECTION OF THE MINISTRY OF DEFENCE HEADQUARTERS SHIP HOUSE</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-two">
                                    <h3>EVACUATION STUDIES OF NNPC MAIDUGURI EMERGENCY POWER PROJECT (MEPP)</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-three">
                                    <h3>AWARD FOR CONTRACT FOR EROSION & FLOOD CONTROL WORKS IN JAHUN/MIGA</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-four">
                                    <h3>EROSION CONTROL WORK IN UDEGE TOWN, NASSARAWA STATE, NIGERIA</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-five">
                                    <h3>ASPHALT OVERLAY OF 7.8KM ABAJI AGYANA ROAD</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-six">
                                    <h3>SUPPLY OF SODIUM BICARBONATE, CAUSTIC SODA AND CALCIUM CHLORIDE PUMPS AT ALAOJI GENERATION COMPANY LTD</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-seven">
                                    <h3>SUPPLY AND INSTALLATION OF VHF BASE RADIO MAST AND ANTENNA WITH ACCESSORIES IN NEW YANKI, 132/33 KVA SUBSTATIONS – BAUCHI REGION</h3>
                                </div>
                            </a>
                        </div>
                        <div class="colum">
                            <a href="#">
                                <div class="project-eight">
                                    <h3>SUPPLY OF ICT WORK TOOLS FOR STATION UNDER BAUCHI REGION</h3>
                                </div>
                            </a>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->