{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'greyfusion/head.html' %}
    <body>
        {% include 'greyfusion/header.html' %}
    
        {% include 'greyfusion/site_brand.html' %}
        
        {% include 'greyfusion/menu.html' %}
    
        {% include 'greyfusion/slider.html' %}
    
        {% include 'greyfusion/promo.html' %}
    
        {% include 'greyfusion/content.html' %}
    
        {% include 'greyfusion/brand_area.html' %}
    
        {% include 'greyfusion/product_widget_area.html' %}
        
        {% include 'greyfusion/footer.html' %}
    
        {% include 'greyfusion/script.html' %}
    </body>
</html>