<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="shop.html">Portfolio</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="navbarDropdown_1" data-toggle="dropdown">
                            Services
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                            <li><a href="#">DESIGN AND INSTALLATION OF POWER STATIONS</a></li>
                            <li><a href="#">CONSTRUCTION OF WATER WORKS AND DRILLING SERVICES</a></li>
                            <li><a href="#">GENERAL ENGINEERING AND CONSTRUCTION</a></li>
                            <li><a href="#">SOLAR SYSTEMS INSTALLATION</a></li>
                            <li><a href="#">INFRASTRUCTURE DEVELOPMENT</a></li>
                            <li><a href="#">GENERAL SUPPLIES AND PROCUREMENT</a></li>
                        </ul>
                    </li>
                    <li><a href="single-product.html">Market Place</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>  
        </div>
    </div>
</div> <!-- End mainmenu area -->